
input{  
   background:none;  
   outline:none;  
   border:0px;  
} 
html body {
    height: 100%;
}
.wrap {
    padding: 0 4.63% 1rem;
    height: 100%;
}
.header {
    position: relative;
}
.header span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 4.08%;
    height: 3.81rem;
    background: url("../images/left.png") center center no-repeat;
    background-size: contain;
}
.header h1 {
    text-align: center;
    color: #333333;
    font-size: 0.95rem;
    line-height: 3.81rem;
    font-weight: bold;
}
.edit-file {
    margin: 2.62rem 0 1.67rem 0;
}
.file-label {
    position: relative;
    display: block;
    width: 7.14rem;
    height: 7.14rem;
    border-radius: 50%;
    background: url("../images/per_cen_11.png") 0 0 no-repeat;
    background-size: contain;

}
.file-label input[type="file"] {
    display: block;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
}
.file-label img {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 7.14rem;
    height: 7.14rem;
    border-radius: 50%;
}
.file-label span {
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    width: 1.45rem;
    height: 1.45rem;
    background: url("../images/edit_03.png") 0 0 no-repeat;
    background-size: contain;
}
.add-main {
    margin-bottom: 0.95rem;
}
.label {
    display: block;
    height: 1.52rem;
    padding-left: 1.84%;
    line-height: 1.52rem;
    font-size: 0.67rem;
}
.label-input {
    display: block;
    border-radius: 0.24rem;
    background: #d9d9d9;
}
.label-input input {
    display: block;
    width: 94.9%;
    height: 2.38rem;
    padding-left: 5.1%;
    font-size: 0.76rem;
    line-height: 2.38rem;
    color: #000000;
    font-weight: bold;
}

.save-btn {
   
    display: block;
   
    background: #0c1260;
    border-radius: 0.24rem;
}
.save-btn input[type="button"] {
    width: 100%;
    color: #fff;
    line-height: 2.38rem;
    text-align: center;
}
