body, html{
    height: 100%;
}
.wrap {
    padding: 0 4.63% 0.36rem;
    background: white;
}
.login {
    display: block;
    width: 9.52rem;
    margin: 0 auto;
    padding: 5rem 0 2.62rem;
}
h1 {
    font-size: 1.43rem;
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-bottom: 1.6rem;
}
.form div {
    margin-bottom: 0.6rem;
}
.password-remind,.number-remind {
    display:none;
    width: 57%;
    padding: 0.5rem 4% 0 5%;
    font-size: 0.86rem;
    height: 2.6rem;
    line-height: 1.14rem;
    border: 1px solid #d6d6d6;
    border-radius: 0.36rem;
}
.box{
    overflow:hidden;
    height: 0;
}
.form div input {
    width: 95%;
    padding-left: 5%;
    line-height: 2.38rem;
    outline: none;
    border-radius: 0.36rem;
    background: #d9d9d9;
    border:none;
    font-size: 1rem;
    color: #7b7c7c;
}
.form div button {
    width: 100%;
    line-height: 2.38rem;
    background: #0c1260;
    border-radius: 0.36rem;
    color: white;
    outline:none;
    border:none;
    font-size: 1rem;
}
p {
    font-size: 0.86rem;
    text-align: center;
    margin-bottom: 0.6rem;
    line-height: 1.43rem;
}
.facebook,.google {
    display:block;
    width:100%;
    line-height: 2.38rem;
    color:white;
    text-align: center;
    border-radius: 0.36rem;
    font-size: 1rem;
    margin-bottom: 0.6rem;
    font-weight: bolder;
}
.facebook {
    background: #4267b2 url("../images/facebook_q1.png") no-repeat;
    background-size: 2.02rem 2.02rem;
    background-position: 0.23rem 0.19rem;
}
.google {
    background: #4285f4 url("../images/google_q1.png") no-repeat;
    background-size: 2.02rem 2.02rem;
    background-position: 0.23rem 0.19rem;
}
.continue {
    display:block;
    width: 7.14rem;
    line-height:2.38rem;
    border-radius: 0.36rem;
    text-align: center;
    margin: 0 auto;
    background: #d9d9d9;
    color: #0c1260;
    font-weight: bolder;
}