body, html{
    height: 100%;
}
.wrap {
    padding: 0 4.63% 0.36rem;
    background: white;
}
.login {
    display: block;
    width: 9.52rem;
    margin: 0 auto;
    padding: 2.86rem 0 2.62rem;
}
h1 {
    font-size: 1.43rem;
    text-align: center;
    color: #000;
    font-weight: bold;
    margin-bottom: 1.6rem;
}

.register,.choose {
    margin-bottom: 0.6rem;
}
.password-remind,.number-remind {
    display:none;
    width: 57%;
    padding: 0.5rem 4% 0.5rem 5%;
    font-size: 0.86rem;
    line-height: 1.14rem;
    border: 1px solid #d6d6d6;
    border-radius: 0.36rem;
    margin-bottom: 0.6rem;
}
input {
    width: 95%;
    padding-left: 5%;
    line-height: 2.38rem;
    outline: none;
    border-radius: 0.36rem;
    background: #d9d9d9;
    border:none;
    font-size: 1rem;
    color: #7b7c7c;
}
#button {
    width: 100%;
    line-height: 2.38rem;
    background: #0c1260;
    border-radius: 0.36rem;
    color: white;
    outline:none;
    border:none;
    font-size: 1rem;
}
.user,.verification {
    width: 62%;
}
.age {
    width:30%;
    padding:0;
    text-align: center;
}
.button {
    width:30%;
    line-height: 2.38rem;
    background: #7b7c7c;
    border-radius: 0.36rem;
    color: #d9d9d9;
    outline:none;
    border:none;
    font-size: 1rem;

}
.choose {
    padding-left: 5%;
}
.choose input,p input {
    float: left;
    width: 1.21rem;
    height: 1.21rem;
    margin-right: 0.65rem;
}
.choose label,p label {
    float: left;
    font-size: 1rem;
    line-height: 1.3rem;
    margin-right: 1.19rem;
    font-weight: bolder;
}
p label a {
    font-size: 0.86rem;
    color:#828282;
}
